In [ ]:
 a=100
b=200
if b>a:
  print('B is greater than A')

B is greater than A

In [ ]:
a=546
b=200
if a>b:
  print('A is greater than B')

A is greater than B

In [ ]:
#If Statement

In [ ]:
a= 24
if a>=18:
  print("You are an adult")

In [ ]:
a= 12
if a>=18:
  print("You are an adult")
else:
  print("You are a teenager ")

You are a teenager

In [ ]:
age=19
if age>=18:
  print("you are an adult")

you are an adult

In [ ]:
x=5
y=10
if x>3 and y>8:
  print('Both Conditions are True')

Both Conditions are True

In [ ]:
x=6
y=9
if x>3 and y>8:
  print('Both Conditions are True')

Both Conditions are True

In [ ]:
x=5
y=2
if x>3 or y>8:
  print('Both Conditions are True')

Both Conditions are True

In [ ]:
a= 12
b=23
if a<b:
  print('A is smaller than B')

A is smaller than B

In [ ]:
a=33
b=33
if a==b:
  print("both are same")

both are same

In [ ]:
a=33
b=54
if a!=b:
  print("both are Different")

both are Different

In [ ]:
a=33
b=43
if a<=b:
  print("A is less than equal to B")

A is less than equal to B

In [ ]:
a=54
b=33
if a>=b:
  print("A is greater than equal to B")

A is greater than equal to B

In [ ]:
a=54
b=22
if a>b:
  print("A is greater than to B")

A is greater than to B

In [ ]:
age=15
if age<18:
  print("You are a minor")
elif age==18:
  print("You are just an adult")
else:
  print("You are an adult")

You are a minor

In [ ]:
age=34
if age<18:
  print("You are a minor")
elif age==18:
  print("You are just an adult")
else:
  print("You are an adult")

You are an adult

In [ ]:
age=18
if age<18:
  print("You are a minor")
elif age==18:
  print("You are just an adult")
else:
  print("You are an adult")

You are just an adult

In [ ]:
a=22
if a>=20:
  print("You are not eligible")
elif a>=23:
  print("You are eligible")
else:
  print("Your Welcome")

You are not eligible

In [ ]:
# 1st question is take any value and check whether it is odd and even with if and else condition and do minimum 3 examples with different number:-

In [ ]:
x=125
if x%2==0:
  print("It is Even")
else:
  print('It is odd')

It is odd

In [ ]:
# Eg-1
x=256
if x%2==0:
  print("It is Even")
else:
  print('It is odd')

It is Even

In [ ]:
# Eg-2
x=24
if x%2==0:
  print("It is Even")
else:
  print('It is odd')

It is Even

In [ ]:
# Eg-3
x=1023
if x%2==0:
  print("It is Even")
else:
  print('It is odd')

It is odd

In [ ]:
# 2nd question is take any value if value is greater than 40(A grade),greater than 30(B grade), greater than 20(C grade) otherwise fail
# You can take any number other than grading values. Do atleast 2 examples.

In [ ]:
a=50
if a>40:
  print("A")
elif a>30:
  print("B")
elif a>20:
  print("C")
else:
  print("Fail")

A

In [ ]:
# Eg-1
a=35
if a>40:
  print("A")
elif a>30:
  print("B")
elif a>20:
  print("C")
else:
  print("Fail")

B

In [ ]:
# Eg-2
a=10
if a>40:
  print("A")
elif a>30:
  print("B")
elif a>20:
  print("C")
else:
  print("Fail")

Fail

In [ ]:
# Eg-3
a=28
if a>40:
  print("A")
elif a>30:
  print("B")
elif a>20:
  print("C")
else:
  print("Fail")

C

In [ ]:
n=int(input("Enter a no:-" ))
x=n%2
if x==0:
  print("It is Even")
else:
  print('It is odd')

Enter a no:-77
It is odd

In [ ]:
num=int(input("Enter a No:-"))
if (num%2)==0:
  print("It is even")
elif (num%2)!=0:
  print("Not defined")
else:
  print("It is odd")

Enter a No:-24
It is even

In [ ]:
# Nested IF

In [ ]:
num=0

#Outer if statement
if num>0:
  #Unner if statement
  if num==0:
    print("No. is 0")
  else:
    print("No.is Positive")
else:
    print("No. is Negative")

No. is Negative

In [ ]:
# Q Write a program to check whether the given year is leap year or not

In [ ]:
year=int(input("Enter a year:-"))
if (year%400)==0:
  print("Leap Year")
else:
  print("Not a leap year")

Enter a year:-300
Not a leap year

In [ ]:
a=int(input("Enter  year:-"))
if (a%4==0 and a%100!=0) or a%400==0:
  print("Year is a leap year")
else:
  print("Not a Leap year")

Enter  year:-1600
Year is a leap year

In [ ]:
name=input("Enter your Name:-")
print("Hello,"+name+"!")

Enter your Name:-divya
Hello,divya!

In [ ]:
name=input("Enter your Name:-")
print("Hello,"+name+"!")

Enter your Name:-VANSHIKA
Hello,VANSHIKA!

In [ ]:

ear=int(input("Enter Year:-"))
print(+year,"!")

Enter Year:-2024
2024 !

In [ ]:
year=int(input("enter a year:-"))
if (year%4==0 and year % 100!=0):
  print(f"{year} is a leap year." )
else:
  print(f"{year} is not a leap year." )

enter a year:-1600
1600 is not a leap year.

In [ ]:
# For Loop

In [ ]:
fruits=["Apple","Banana","Cherry"]
for fruit in fruits:
  print(fruit)

Apple
Banana
Cherry

In [ ]:
names=["Divya","Vanshika","Tushti","Mayank","Suneet"]
for name in names:
  print(name)

Divya
Vanshika
Tushti
Mayank
Suneet

In [ ]:
for i in range(5):
 print(i)

0
1
2
3
4

In [ ]:
for i in range(50):
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
for letter in "Vanshika":
  print(letter)

V
a
n
s
h
i
k
a

In [ ]:
for letter in "Python":
  print(letter)

P
y
t
h
o
n

In [ ]:
# While Loop

In [ ]:
count=0
while count<5:
  print(count)
  count += 1

0
1
2
3
4

In [ ]:
count=5
while count<=20:
  print(count)
  count += 2

5
7
9
11
13
15
17
19

In [ ]:
# Sum of a list

In [ ]:
x=[21,32,43,54,43,34]
sum=0
for i in x:
  sum += i
print(sum)

227

In [ ]:
i=0
while i <=10:
  print(i)
  i=i+2

0
2
4
6
8
10

In [ ]:
i=1
while i<=10:
  print(i)
  i+=2

1
3
5
7
9

In [ ]:
# write the program to find sum of n natural numbers

In [ ]:
n=int(input('Enter a no'))
sum=0
for i in range(1,n+1):
   sum+=i
print(sum)

Enter a no12
78

In [ ]:
n=int(input('Enter last limit no.:-'))
i=1
sum=0
while i<=n:
  sum=sum +i
  i= i+1
  print("Sum of n natural no.",sum)

Enter last limit no.:-4
Sum of n natural no. 1
Sum of n natural no. 3
Sum of n natural no. 6
Sum of n natural no. 10

In [ ]:
# write the program to find sum of Square of n natural numbers

In [ ]:
n=int(input('Enter last limit no.:-'))
i=n*n
sum=0
while i<=n*n:
  sum=sum +i
  i= i+1
  print("Sum of n natural no.",sum)

Enter last limit no.:-4
Sum of n natural no. 16

In [ ]:
# write the program to find sum of Cube of n natural numbers

In [ ]:
n=int(input('Enter last limit no.:-'))
i=n*n*n
sum=0
while i<=n*n*n:
  sum=sum +i
  i= i+1
  print("Sum of n natural no.",sum)

Enter last limit no.:-4
Sum of n natural no. 64

In [ ]:
# Break statement- We can stop the loop even if the while condition is

In [ ]:
i = 1
while i<10:
  print(i)
  if i==4:
    break
  i+=1

1
2
3
4

In [ ]:
# continue

In [ ]:
i = 1
while i<10:
  i+=1
  if i==4:
    continue
  print(i)

2
3
5
6
7
8
9
10

In [ ]:
i = 2
while i<10:
  i+=1
  if i==5:
    continue
  print(i)

3
4
6
7
8
9
10

In [ ]:
i = 5
while i<10:
  i+=1
  if i==8:
    continue
  print(i)

6
7
9
10

In [ ]:
i = 0
while i<10:
  i+=1
  if i==5:
    continue
  elif i==8:
    continue
  print(i)

1
2
3
4
6
7
9
10

In [ ]:
L1=["A","B","C","D"]
for x in L1:
  print(x)
  if x=="B":
    break

A
B

In [ ]:
# Exit the loop when X is "B",But this time break comes before the print:
L1=["A","B","C","D"]
for x in L1:
  if x=="B":
    break
  print(x)

A

In [ ]:
L1=["A","B","C","D"]
for x in L1:
  print(x)

A
B
C
D

In [ ]:
for x in "AAFT":
  print(x)

A
A
F
T

In [ ]:
# Continue Statement
L1=["A","B","C","D"]
for x in L1:
  if x=="B":
    continue
  print(x)

A
C
D

In [ ]:
# range() function

In [ ]:
for x in range(2,11):
  print(x)

2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,30,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [ ]:
i=10
while i>0:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i=1
while i<5:
  print(i)
  i=i+1

1
2
3
4

In [ ]:
# W.A.P to find the factorial of any number:

In [ ]:
 n=int(input("Enter a No:-"))
 x=1
 for i in range(i,n+1):
  x=x*i
  print(x)

Enter a No:-10

In [ ]:
n=int(input("Enter a No:-"))
x=1
for i in range(1,n+1):
  x=x*i
  print(x)

Enter a No:-8
1
2
6
24
120
720
5040
40320

In [ ]:
fruits=['Apple','Banana','Grapes']
for fruits in fruits:
  print(fruits)

Apple
Banana
Grapes

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for letter in "Python":
  print(letter)

P
y
t
h
o
n

In [ ]:
# W.A.P that uses for loop to print the no. of 1 to 10

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# W.A.P to find the max. no in a list using for loop

In [ ]:
x=[1,3,4,6,76,43]
for i in x:
  x.sort()

print(i)

76

In [ ]:
# W.A.P that prints all even no. from  1 to 20 using for loop

In [ ]:
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# Even no. btw 1 to 100

In [ ]:
for i in range(1, 100):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
# WAP for factorial of a number using while loop. (IMP)

In [ ]:
n=int(input("Enter any number: "))
# logic to calculate the factorial of a number
f=1
while n >= 1:
  f=f*n
  n=n-1
  #print output
print("Factorial is: ",f)

Enter any number: 10
Factorial is:  3628800

In [ ]:
# WAP to check whether a given number is prime or not. (IMP)
num=int(input("Enter a number: "))

if num==0 or num==1:
  print("Num is not a prime Number")
elif num>1:
  #Check for factors
  for i in range(2,num):
    if(num%i)==0:
      print(num,"is not a prime number")
      break
  else:
    print(num,"is a prime number")

# if input number is less than
# or equal to 1, is not prime
else:
  print(num,"is not  a prime number")

Enter a number: 27
27 is not a prime number

In [ ]:
# WAP to find reverse of a number
num=int(input("Enter any number: "))
rev=0
while(num>0):
  rev=(rev*10)+num%10
  num=num//10
print("Reverse of a given number is: ",rev)

Enter any number: 657
Reverse of a given number is:  756

In [ ]:
# WAP to check whether the given number is Armstrong or not.
n=int(input("Enter A number: "))
x=n
sum=0
while(n>0):
  sum=sum+(n%10)*(n%10)*(n%10)
  n=n//10
if x==sum:
  print("Number is Armstrong")
else:
  print("Number is not Armstrong")

Enter A numaber: 153
Number is Armstrong

In [ ]:
# WAP to print fibonacci series upto given list.
n=int(input("Enter the limit number: "))
x=0
y=1
z=0
while(z<=n):
  print(z)
  x=y
  y=z
  z= x+y

Enter the limit number: 10
0
1
1
2
3
5
8

In [ ]:
num=int(input("E"))